*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: azure;
}
div{
    margin-bottom: 100px;
}
p{
    margin: 0px;
    font-size: 2rem;
}
.red{
    color: red;
}